
@{
    ViewData["Title"] = "Register";
}

<h1>註冊</h1>
@model LoginDemo.Models.RegisterVM
<form method="post" enctype="multipart/form-data" >

    <p>單位名稱</p>
    <input type="text" name="Title" />
    <p>姓名</p>
    <input type="text" name="Name"/>
    <p>生日</p>
    <input type="date" name="Birthday"/>
    <p>信箱</p>
    <input type="email"name="Email" />
    <p>帳號</p>
    <input type="text" name="Acount" />
    <p>密碼</p>
    <input type="password"name="Password" />
    <p>檔案</p>
    <input type="file" name="File" />

    <div class="mt-2">
        <a href="@Url.Content("~/Home/Index")" class="btn btn-primary">返回</a>

        <input type="submit" value="送出" class="btn btn-primary" />
    </div>



</form>




